/* <-- shared STYLE begins */

legend{
  padding: 10px 5px;
}

.rightSector{
  @extend .pull-right !optional;
}
.leftSector{
  @extend .pull-left !optional;
}
.sm{
  display:none;
}

.dropdown-menu > li > div {
  padding: 3px 20px;
}

.panel{
  border-width:3px 1px 2px;
  border-style: solid;
  border-color:$Brdr;
  &-heading,&-body,&-footer{
    @extend .clearfix !optional;
  }
  &-heading{
    border-bottom:$Brdr 1px solid;
    font-family:'roboto regular';
  }
  &-title{
    font-family:'roboto regular';
  }
  &-body{
  }
  &-footer{
    border-top:$Brdr 1px solid;
  }

  @each $type in $colorType{
    &-#{nth($type, 1)}{
      border-top-color: nth($type, 2);
      &>.panel-heading{
        color: $Txt;
        background:#fff;
        border-color:$Brdr;
      }
    }
  }
}

.text{
  @each $type in $colorType{
    &-#{nth($type, 1)}{
      color: nth($type, 2) !important;
      a,label{
        color: nth($type, 2) !important;
      }
    }
  }
}

.bg{
  @each $type in $bgColor{
    &-#{nth($type, 1)}{
      color: nth($type, 3);
      background: nth($type, 2);
    }
  }
}

.txtView{
  width: 100%;
  display: block;
  min-width:160px;
  margin-bottom: 0px;
  padding: 7px 12px 6px;
  border-bottom: $Brdr 1px solid;
}
label.txtView{
  font-family: $prFont;
}

.has{
  @each $color in $alertColors{
    &-#{nth($color, 1)}{
      small,.help-block{
        color:nth($color, 2);
      }
      .form-control{
        border-color:nth($color, 2);
      }
    }
  }
}

.topBar,.toolBar,.footerSect,.contSect{
  padding:8px $grid-gutter-width/2;
}

.dispBoard{
  background: $ClrF;
  border:$Brdr 1px solid;
  margin-bottom:$grid-gutter-width/2;
  padding:$grid-gutter-width/2 $grid-gutter-width/2 0px;
  @extend .clearfix !optional;
  .topBar{
    margin-top:-$grid-gutter-width/2;
    margin-bottom:$grid-gutter-width/2;
  }
  .topBar,
  .toolBar{
    border-bottom:$Brdr 1px solid;
    @extend .row !optional;
  }
  .footerSect{
    border-top:$Brdr 1px solid;
    margin-top: $grid-gutter-width/4;
    ///*margin-bottom:-$grid-gutter-width/2;*/
    @extend .row !optional;
  }
  .contSect{
    padding:0 $grid-gutter-width/2 15px;
    .invoiceTable:last-child{
      margin-bottom:0;
    }
  }
  &.material{
    background: $BG;
  }
}

.simcon{
  .btn{
    color:$Txt;
    min-width:auto;
    padding:6px 10px;
    &:hover,&:focus,&:active{
      color:$Link;
      background:$icoBgHover;
    }
  }
}

.toolBar{
  .dropdown{
    display:inline-block;
  }
  .iconText{
  }
}

.historyBoard{
  top: 140px;
  right:15px;
  width: 50%;
  z-index:800;
  color:#333;
  height:200px;
  display: none;
  position:fixed;
  overflow:hidden;
  padding:10px 0px;
  background:#f4f4f4;
  border:#bbb 1px solid;
  @include box-shadow(3px 15px 20px rgba(0, 0, 0, 0.5));
  .titlebar{
    color:$Txt;
    padding:5px 10px;
    background:#EBECED;
    margin:-10px 0px 0px;
    @extend .clearfix !optional;
  }
  .close{
    padding:0;
    color:$Clr5;
    @include opacity(0.9);
  }
  kbd{
    background-color: #666;
  }
  .content{
    overflow:scroll;
    overflow:auto;
    height:calc(100% - 14px);
  }
  th{
    color:#333;
    background:lighten($Clr2,40%);
  }
  .table{
    & > tbody > tr{
      &:nth-child(2n+1){
        & > td{
          background:#dbdbdb;
        }
      }
    }
  }
}

.nav-tabs{
  &.row{
    padding-left: 15px;
  }
  [aria-disabled="true"]{
    cursor:not-allowed !important;
    a{
      color:#CCC;
      pointer-events:none;
    }
  }
}

.valSelector{
  // Marked FOR DEPRECATION
  @extend .table-bordered, .table-condensed, .table-hover, .table-striped !optional;
  a, label{
    margin:-5px;
    padding: 5px;
    display:block;
    color: inherit;
    text-decoration:none;
    &.editLinks{
      color:$prLink;
    }
    &.ui-helper-hidden{
      display:none;
    }
  }
}

.editLinks{
  a{
    display:block;
    color:$prLink !important;
  }
}

ul.infoTable{
  @extend .notaList !optional;
  li{
    display:block;
    border-bottom:#ccc 1px solid;
    &>span{
      width:auto;
      min-width: 80px;
      display:inline-block;
      vertical-align:middle;
      @extend .ellipsis !optional;
      &:nth-of-type(1){
      }
      &:nth-of-type(2){
        min-width: 200px;
        &:before{
          content: ': ';
          min-width: 1em;
          display: inline-block;
        }
      }
    }
  }
  .head{
    color: rgba($Clr0, 0.4);
  }
}

table.infoTable{
  white-space: nowrap;
  tr{
    td,th{
      padding: 0.2em !important;
      border: none transparent !important;
      ;
      border-bottom: 1px solid #ECECEC !important;
      ;
    }
    th{
      color: rgba($Clr0,0.4) !important;
      ;
    }
  }
}

.messages{
  .alert{
    margin: 0px;
    @extend .bordrad0px !optional;
  }
}

///*
//p: #ceefff
//d:
//w:
//i: #ceefff
//s: #75e87a
//*/

// Marked FOR DEPRECATION - :optional

// @for $i from 1 through 5{
// 	[class*=" bg-primary-#{$i}"],
// 	[class*=" bg-info-#{$i}"],
// 	[class*=" bg-success-#{$i}"]{
// 	}
// }

// @for $i from 1 through 5{
// 	[class*=" bg-success-#{$i}"]{
// 		color: #fff !important;
// 		background-color: darken(#ccf7ce, $i*20%) !important;
// 		&[disabled], &[readonly],
// 		&[data-disabled]{ background:#D3D3D3 !important; }
// 	}
// }

// @for $i from 1 through 5{
// 	[class*=" bg-primary-#{$i}"]{
// 		color: #fff !important;
// 		background-color: darken(#ceefff, $i*20%) !important;
// 		&[disabled], &[readonly],
// 		&[data-disabled]{ background:#D3D3D3 !important; }
// 	}
// }

.resetBs{
  .form-control{
    width:auto;
    min-width:40px;
    display:inline-block;
    padding:0px !important;
  }
  &.qtyExp .form-control{
    width:40px;
    text-align:center;
  }
}

.qtyExp{
  font-size: 0;
  white-space: nowrap;
  input{
    margin-right: -1px;
  }
}

.status-label{
  font-size:100%;
  @extend .label !optional;
  &-invert{
    color:#000 !important;
  }
}

.sidebar ul.menu li.active > a:after{
  display: none;
}
/* shared STYLE ends --> */